.main__content {
  width: 572px;
}

.user__infor {
  display: flex;
  padding-top: 16px;
}

.user__infor--account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.user__name {
  font-size: 24px;
  font-weight: bold;
}

.user__username {
  margin-top: 7px;
  margin-bottom: 20px;
  font-size: 15px;
}

.user__avatar {
  font-size: 50px;
  overflow: hidden;
  cursor: pointer;
}

.user__avatar--image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user__bio {
  margin: 16px 0;
  font-size: 15px;
}

.user__social {
  margin-top: 14px;
  margin-bottom: 12px;
  display: flex;
}

.user__social--follow {
  flex: 1;
}

.user__social--follow-infor {
  font-size: 15px;
  color: #999;
  margin-right: 20px;
  cursor: pointer;
}

.user__social--follow-infor:hover {
  text-decoration: underline;
}

.user__social--icon {
  font-size: 24px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}

.user__social--icon:hover {
  background: #f5f5f5;
}

.profile__edit {
  padding: 12px 0;
  width: 100%;
}

.profile__edit--button {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  padding: 7px 0px;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.profile__status {
  width: 100%;
  display: flex;
}

.profile__status--header {
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: 500;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
}

.profile__status--header-active {
  border-bottom: 1px solid black;
  color: black;
}

@media screen and (max-width: 672px) {

  .user__infor,
  .user__bio,
  .user__social,
  .profile__edit {
    padding: 0 12px;
  }
}

/* Header CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 74px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
}

.header__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}

.header__link--logo {
  display: flex;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 4px;
}

.header__link--logo-img {
  width: 28px;
  height: 28px;
}

.header__link--logo:hover {
  transform: scale(1.07);
}

.header__control {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__control--button-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  margin: 0 6px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
}


.header__control--button {
  padding: 4px 4px;
  font-size: 30px;
  color: #999;
}

.header__menu {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  cursor: pointer;
}

.header__menu:hover .header__menu--button {
  color: black;
}

.header__menu--button {
  padding: 4px 4px;
  font-size: 30px;
  color: #999;
}

#header__menu--toggle,
.header__menu--list {
  display: none;
}

#header__menu--toggle:checked~.header__menu--list {
  display: block;
  z-index: 1;
}

#header__menu--toggle:checked~.header__menu--label i {
  color: black;
}

.header__menu--label {
  cursor: pointer;
}

.header__menu--list {
  width: 174px;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
}

.header__menu--item {
  width: 100%;
  font-size: 15px;
  padding: 10px 0 10px 12px;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 500;
}

.header__menu--item:last-child {
  border-bottom: none;
}

.header__padding {
  display: none;
}

.header__bottom {
  display: none;
}

/* Định dạng modal overlay và nội dung */
.modal-overlay_1 {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content_1 {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  width: 650px; /* Tăng chiều rộng modal */
  max-width: 95%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}


/* Định dạng nút đóng */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Định dạng phần nhãn và input */
.profile-section_1 {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile-label_1 {
  font-weight: 630;
  display: block;
  margin-bottom: 5px;
}

.profile-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
  font-size: 15px;
  color: #333;
  outline: none;
  text-align: left;
}

.profile-input-display{
  width: 85%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
  font-size: 15px;
  color: #333;
  outline: none;
  text-align: left;
}

/* Định dạng công tắc bật/tắt */
.switch {
  position: relative;
  display: inline-block;
  width: 2.875rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Căn đều giữa nhãn và công tắc */
}

.profile-label_1 {
  flex: 1; /* Đảm bảo nhãn chiếm hết khoảng trống bên trái */
}

.switch {
  flex-shrink: 0; /* Giữ kích thước công tắc cố định */
  margin-left: 10px; /* Thêm khoảng cách giữa nhãn và công tắc */
}


input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

/* Định dạng nút Done */
.done-button {
  background-color: black;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
}

/* Khối ảnh đại diện */
.modal-avatar_1 {
  position: absolute;
  top: 27px;
  right: 27px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

.modal-avatar_1-image-1 {
  font-size: 42px;
  object-fit: cover;
}

@media screen and (max-width: 672px) {
  .header {
    height: 60px;
  }

  .header__container {
    padding: 0px;
  }

  .header__control {
    display: none;
  }

  .header__link {
    flex: 1;
  }

  .header__padding {
    display: block;
    width: 60px;
    height: 100%;
    visibility: hidden;
  }

  .header__bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    /* border-top: 1px solid #e0e0e0; */
    z-index: 1000;
  }

  .header__bottom .header__control--button-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }

  .header__bottom .header__control--button {
    font-size: 28px;
    transition: color 0.2s ease;
  }

  .header__control--link-selected i {
    color: black;
  }
}

.header__control--button-active {
  color: black;
}

.header__control--link-selected i {
  color: black;
}

@media screen and (min-width: 673px) and (max-width: 990px) {
  .header {
    height: 74px;
  }

  .header__container {
    padding: 0px 10px;
  }
}